<h2 mat-dialog-title>Crop Image</h2>
<mat-dialog-content>
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4/4"
        [resizeToWidth]="200"
        format="png"
        (imageCroppedBase64)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

    <img [src]="croppedImage" />
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-button [mat-dialog-close]="croppedImage" cdkFocusInitial>Ok</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>
