<mat-progress-bar *ngIf="uploading" mode="determinate" [value]="uploadProgress | async" color="warn">
</mat-progress-bar>
<form [formGroup]="userForm" (ngSubmit)="handleSubmit()" #form="ngForm">
    <div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
        <div fxFlex class="mat-elevation-z4">
            <mat-toolbar class="table-header">
                <h1 class="mat-headline center-align">Profile</h1>
            </mat-toolbar>
            <mat-card>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
                        <input type="file" (change)="fileChangeEvent($event)" #avatarImgFile style="display: none">
                        <div class="img-cont">
                            <mat-icon fontSet="fa" fontIcon="fa-camera" (click)="avatarImgFile.click()"></mat-icon>
                            <img [src]="croppedImage" *ngIf="croppedImage">
                        </div>
                        <div fxFlex fxLayout="column" fxFlex.lt-md="0 1 auto">
                            <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
                                <mat-form-field fxFlex fxFlex.xs="0 1 auto">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" required>
                                    <ng-container *ngFor="let validation of validationMessages.username">
                                        <mat-error class="error-message" *ngIf="userForm.get('username').hasError(validation.type) && (userForm.get('username').dirty && userForm.get('username').touched)">{{validation.message}}</mat-error>
                                    </ng-container>
                                </mat-form-field>
                                <mat-form-field fxFlex fxFlex.xs="0 1 auto">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" required>
                                    <ng-container *ngFor="let validation of validationMessages.email">
                                        <mat-error class="error-message" *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty && userForm.get('email').touched)">{{validation.message}}</mat-error>
                                    </ng-container>
                                </mat-form-field>
                            </div>
                            <ng-container formGroupName="matchedPassword">

                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input matInput [type]="showNewPass ? 'text' : 'password'" placeholder="Enter new password" required formControlName="new" autocomplete="off">
                                    <mat-icon (click)="showNewPass = !showNewPass;" matSuffix>
                                        {{ showNewPass ? 'visibility' : 'visibility_off'}}
                                    </mat-icon>
                                    <ng-container *ngFor="let validation of validationMessages.new">
                                        <mat-error class="error-message" *ngIf="userForm.get('matchedPassword').get('new').hasError(validation.type) && (userForm.get('matchedPassword').get('new').dirty || userForm.get('matchedPassword').get('new').touched)">{{validation.message}}</mat-error>
                                    </ng-container>
                                    <mat-error *ngIf="userForm.get('matchedPassword').get('new').hasError('server')">
                                        {{ userForm.get('matchedPassword').get('new').getError('server') }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Re enter Password</mat-label>
                                    <input matInput [type]="showConfPass ? 'text' : 'password'" placeholder="Confirm Password" required formControlName="confirm" autocomplete="off">
                                    <mat-icon (click)="showConfPass = !showConfPass;" matSuffix>
                                        {{ showConfPass ? 'visibility' : 'visibility_off'}}
                                    </mat-icon>
                                </mat-form-field>
                                <ng-container *ngFor="let validation of validationMessages.confirm">
                                    <mat-error class="error-message" *ngIf="(userForm.get('matchedPassword').hasError(validation.type)|| userForm.get('matchedPassword').hasError(validation.type)) && (userForm.get('matchedPassword').get('confirm').dirty || userForm.get('matchedPassword').get('confirm').touched)">{{validation.message}}</mat-error>
                                </ng-container>
                            </ng-container>
                            <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
                                <mat-form-field fxFlex fxFlex.xs="0 1 auto">
                                    <mat-label>First Name</mat-label>
                                    <input matInput formControlName="firstname" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="userForm.get('firstname').hasError('required')">
                                        First Name is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex fxFlex.xs="0 1 auto">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput formControlName="lastname" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="userForm.get('lastname').hasError('required')">
                                        Last Name is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-select placeholder="Gender" formControlName="gender">
                                        <mat-option *ngFor="let gender of ['Male', 'Female']" [value]="gender">
                                            {{ gender }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-content>
                    <div fxLayout="column">
                        <mat-form-field>
                            <mat-label>Profile Text</mat-label>
                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="50" placeholder="Write something about yourself"
                                formControlName="desc">
                            </textarea>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
        <div fxFlex class="mat-elevation-z4">
            <mat-toolbar class="table-header">
                <h1 class="mat-headline center-align">Roles</h1>
            </mat-toolbar>
            <mat-card>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
                        <mat-form-field>
                            <mat-select placeholder="Roles" formControlName="roles" multiple>
                                <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
        <mat-card>
            <mat-card-content fxLayoutAlign="end" fxLayoutGap="5px">
                <button type='submit'
                    mat-stroked-button color="accent"
                    [disabled]='!userForm.valid || !this.form.dirty || submitting'>
                    <ng-container *ngIf="uploading">Saving...</ng-container>
                    <ng-container *ngIf="!uploading">Submit</ng-container>
                </button>
                <button type='button' mat-stroked-button color="accent" (click)='resetForm()'>Reset</button>
            </mat-card-content>
        </mat-card>
    </div>
</form>
