<form [formGroup]="matchingPass">
    <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput [type]="showNewPass ? 'text' : 'password'" placeholder="Enter new password" required formControlName="new"
            autocomplete="off">
        <mat-icon class="i-btn" (click)="showNewPass = !showNewPass;" matSuffix>
            {{ showNewPass ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <ng-container *ngFor="let validation of validationMessages.new">
            <mat-error class="error-message" *ngIf="matchingPass.get('new').hasError(validation.type) && (matchingPass.get('new').dirty || matchingPass.get('new').touched)">{{validation.message}}</mat-error>
        </ng-container>
        <mat-error *ngIf="matchingPass.get('new').hasError('server')">
            {{ matchingPass.get('new').getError('server') }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Re enter Password</mat-label>
        <input matInput [type]="showConfPass ? 'text' : 'password'" placeholder="Confirm Password" required formControlName="confirm"
            autocomplete="off">
        <mat-icon class="i-btn" (click)="showConfPass = !showConfPass;" matSuffix>
            {{ showConfPass ? 'visibility' : 'visibility_off'}}
        </mat-icon>
    </mat-form-field>
    <ng-container *ngFor="let validation of validationMessages.confirm">
        <mat-error class="error-message" *ngIf="(matchingPass.hasError(validation.type)|| matchingPass.hasError(validation.type)) && (matchingPass.get('confirm').dirty || matchingPass.get('confirm').touched)">{{validation.message}}</mat-error>
    </ng-container>
</form>
