app-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #ffffff;
}
app-footer :last-child {
  background-color: #efefef;
}
section {
  padding: 5% 0 5% 0;
  background-color: #0266ab;
  color: #ffffff;
  font-family: Roboto;
}
