:host {
    position: relative;
    display: block;
    height: 500px;
    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    section {
        padding: 5% 0 5% 0;
        background-color: #0266ab;
        color: #ffffff;
    }
}
