:host {
    overflow: hidden;
    .container {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
}

.custom-scroll-bar {
    height: 100%;
    overflow-y: scroll;
}

app-sidemenu {
    padding: 12px 0px;
    display: block;
}

.logo-container {
    cursor: pointer;
}

@mixin admin($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    .sidenav {
        background: mat-color($primary, 400);
        overflow: hidden;
        position: relative;
        width: 250px;
    }
    .drawer {
        background: mat-color($primary, 400);
        overflow: hidden;
        position: relative;
        width: 80px;
    }
    [no-over-flow] {
        overflow: hidden;
    }
    .router-outlet {
        position: relative;
        padding: 0px 5px;
    }
    .spacer {
        width: 100%;
    }
    .logo {
        font-size: 26px;
        font-family: Roboto;
        color: white;
        margin-top: 8px;
    }
}
