<!-- START IMAGE CONTAINER -->
<section class="banner-container">
    <div class="desc">
        Behind every review is an experience that matters
    </div>
    <div fxLayout="row" fxLayoutAlign="center" class="search-bar-container">
        <div fxFlex="30%" fxFlex.xs="100%">
            <app-search-bar></app-search-bar>
        </div>
    </div>
</section>
<!-- END IMAGE CONTAINER -->
<section class="body">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="center stretch">
        <div fxFlex="1 1 30%">
            <div class="col-title">TOP</div>
            <mat-card *ngFor="let entity of topEntities || []" class="vertical-entity-card">
                <div>
                    <mat-card-title>
                        <a [routerLink]="'/entity/'+entity.id">
                            {{ entity.name }}
                        </a>
                    </mat-card-title>
                    <div fxLayout="row">
                        <star-rating size="medium" [starType]="'svg'" [rating]="entity.rating" [labelText]="entity.rating | ratingLabel" labelPosition="right"></star-rating>
                    </div>
                    <app-read-more [text]="entity.desc" [maxLength]="100" [href]="'/entity/'+entity.id"></app-read-more>
                </div>
                <div>
                    <a mat-stroked-button [routerLink]="'/entity/'+entity.id+'/review/new'">Write a review</a>
                </div>
                <div *ngIf="entity.Reviews && entity.Reviews.length">
                    <div *ngFor="let review of entity.Reviews" fxLayout="column">
                        <div fxLayout="row">
                            <div mat-card-avatar>
                                <img [src]="baseUrl+'/avatar/'+review.User.id+'/'+review.User.avatar" alt="Avatar" onerror="this.onerror=null;this.src='/assets/images/avatars/avatar.png'" width="100%" height="100%">
                            </div>
                            <div>
                                <div class="star-cont">
                                    <star-rating size="small" [starType]="'svg'" [rating]="review.rating"></star-rating>
                                </div>
                                <div class="reviewer-name">{{review.User.username || review.User.email }} wrote</div>
                            </div>
                        </div>
                        <div>
                            <p class="review">“{{review.review}}”</p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="1 1 30%">
            <div class="col-title">TRENDING</div>
            <mat-card *ngFor="let entity of trendingEntities || []" class="vertical-entity-card">
                <div>
                    <mat-card-title>
                        <a [routerLink]="'/entity/'+entity.id">
                            {{ entity.name }}
                        </a>
                    </mat-card-title>
                    <div fxLayout="row">
                        <star-rating size="medium" [starType]="'svg'" [rating]="entity.rating" [labelText]="entity.rating | ratingLabel" labelPosition="right"></star-rating>
                    </div>
                    <app-read-more [text]="entity.desc" [maxLength]="100" [href]="'/entity/'+entity.id"></app-read-more>
                </div>
                <div>
                    <a mat-stroked-button [routerLink]="'/entity/'+entity.id+'/review/new'">Write a review</a>
                </div>
                <div *ngIf="entity.Reviews && entity.Reviews.length">
                    <div *ngFor="let review of entity.Reviews" fxLayout="row" fxLayout.xs="column">
                        <div mat-card-avatar>
                            <img [src]="baseUrl+'/avatar/'+review.User.id+'/'+review.User.avatar" alt="Avatar" onerror="this.onerror=null;this.src='/assets/images/avatars/avatar.png'" width="100%" height="100%">
                        </div>
                        <div>
                            <div class="star-cont">
                                <star-rating size="small" [starType]="'svg'" [rating]="review.rating"></star-rating>
                            </div>
                            <div class="reviewer-name">{{review.User.username || review.User.email }} wrote</div>
                            <p class="review">“{{review.review}}”</p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="1 1 30%">
            <div class="col-title">RECENT</div>
            <mat-card *ngFor="let entity of recentEntities || []" class="vertical-entity-card">
                <div>
                    <mat-card-title>
                        <a [routerLink]="'/entity/'+entity.id">
                            {{ entity.name }}
                        </a>
                    </mat-card-title>
                    <div fxLayout="row">
                        <star-rating size="medium" [starType]="'svg'" [rating]="entity.rating" [labelText]="entity.rating | ratingLabel" labelPosition="right"></star-rating>
                    </div>
                    <app-read-more [text]="entity.desc" [maxLength]="100" [href]="'/entity/'+entity.id"></app-read-more>
                </div>
                <div>
                    <a mat-stroked-button [routerLink]="'/entity/'+entity.id+'/review/new'">Write a review</a>
                </div>
                <div *ngIf="entity.Reviews && entity.Reviews.length">
                    <div *ngFor="let review of entity.Reviews" fxLayout="row" fxLayout.xs="column">
                        <div mat-card-avatar>
                            <img [src]="baseUrl+'/avatar/'+review.User.id+'/'+review.User.avatar" alt="Avatar" onerror="this.onerror=null;this.src='/assets/images/avatars/avatar.png'" width="100%" height="100%">
                        </div>
                        <div>
                            <div class="star-cont">
                                <star-rating size="small" [starType]="'svg'" [rating]="review.rating"></star-rating>
                            </div>
                            <div class="reviewer-name">{{review.User.username || review.User.email }} wrote</div>
                            <p class="review">“{{review.review}}”</p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</section>

<section class="service-section">
    <div fxLayout="column">

        <div class="service-header" fxLayout="column" fxLayoutAlign="center stretch">

            <div fxFlex class="content" fxLayout.lt-sm="column" style="padding: 20px;" fxLayout="row" fxLayoutAlign="center stretch">

                <div fxFlex="35" fxFlex.lt-sm="100" fxLayout="row" style="background-color: #45aae3; padding: 20px;" fxLayoutAlign="center stretch">
                    <div>
                        <h3 class="mat-display-1">Services</h3>
                        <mat-divider></mat-divider>
                        <p class="mat-body-2">
                            Cryptocurrency and blockchain-related technology will disrupt many different industries around the world in the coming years. Our mission is to help everyone who is interested in this space get the resources they need to get started. We are a global team that strives to build a trusted platform that will one day be a household name.
                        </p>
                    </div>

                </div>
                <div fxFlex="65" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
                    <img style="width: 400px;" src="./assets/images/bg/cdk.png">
                </div>

            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="service-card-content">
            <div fxLayout="row" fxLayoutAlign="center center" class="service-card-container" fxLayout.lt-md="column" fxLayoutGap="20px">

                <a *ngFor="let service of services" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.gt-sm="32" class="mat-elevation-z4 service-card" [href]="service.link" target="_blank">
                    <img [src]="service.img" fxFlex>
                    <h3 class="mat-title" fxFlex>{{ service.title }}</h3>
                    <p class="mat-body-2" fxFlex>{{ service.desc }}</p>
                </a>

            </div>
        </div>
    </div>


</section>
