<div class="form-container">
    <div id="login" class="signin-card">
        <div fxLayout="column" class="social-login-container">
            <button mat-raised-button type="button" color="accent" alt="Login with Facebook" (click)="fbLogin()">
                <mat-icon fontSet="fa" fontIcon="fa-facebook" style="font-size:20px;"></mat-icon>
                Login with Facebook
            </button>
            <!-- <button mat-raised-button type="button" color="accent" alt="Login with Google">Login with Google</button> -->
        </div>
        <div fxLayout="row" class="divider">
            <mat-divider fxFlex></mat-divider>
            <span>OR</span>
            <mat-divider fxFlex></mat-divider>
        </div>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()" fxLayout="column">
            <mat-form-field class="example-full-width" *ngIf="isRegister">
                <mat-icon matPrefix>email</mat-icon>
                <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
                <mat-error *ngIf="authForm.get('email').hasError('email') && !authForm.get('email').hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="authForm.get('email').hasError('required')">
                    Email is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="authForm.get('email').hasError('server')"> {{ authForm.get('email').getError('server') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-icon fontSet="fa" fontIcon="fa-user" matPrefix></mat-icon>
                <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher">
                <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Username is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-icon fontSet="fa" fontIcon="fa-lock" matPrefix></mat-icon>
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <div fxLayout="column">
                <div *ngIf="isRegister" class="pp-container">
                    By registering, I have read and accepted the
                    <a href="https://www.freeprivacypolicy.com/privacy/view/a75e65c92db5695d75aca23fe3c6f8d9"
                        target="_blank">Privacy Policy</a>
                </div>
                <button fxFlexAlign="center" mat-raised-button type="submit" color="accent" alt="submit" [disabled]="loading || !authForm.valid">
                    {{ title }}
                </button>
                <span class="link" fxFlexAlign="end" *ngIf="isLogin">
                    Not a user?
                    <a (click)="signUp()">sign up</a>
                </span>
                <span class="link" fxFlexAlign="end" *ngIf="isRegister">
                    Already have an account.
                    <a (click)="signIn()" >Sign in</a>
                </span>
            </div>
        </form>
    </div>
</div>
