<form [formGroup]="pwdForm" (ngSubmit)="handleSubmit()" #form="ngForm">
    <div fxLayout="column" >
        <app-matched-password *ngIf="token" [form]="pwdForm"></app-matched-password>
        <form *ngIf="!token" [formGroup]="requestForm" fxLayout="column">
            <mat-form-field>
                <mat-icon fontSet="fa" fontIcon="fa-user" matPrefix></mat-icon>
                <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher">
                <mat-error *ngIf="requestForm.get('username').hasError('required')">
                    Username is
                    <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="requestForm.get('username').hasError('server')"> {{ requestForm.get('username').getError('server') }}</mat-error>
            </mat-form-field>
        </form>
        <div fxLayout="row" fxLayoutAlign="end">
            <a class="link" [routerLink]="['/auth/login']">Sign in</a>
        </div>
    </div>


    <div fxLayoutAlign="end" fxLayoutGap="5px">
        <button type='submit' mat-stroked-button color="accent" [disabled]='(this.token ? (!this.pwdForm.valid || !this.form.dirty) : (!this.requestForm.valid)) || this.authService.authenticatingSubject.getValue()'>Submit</button>
    </div>

</form>
