<div class="form-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
    <form [formGroup]="pwdForm" (ngSubmit)="handleSubmit()" #form="ngForm">
        <mat-card>
            <mat-card-content fxLayout="column">
                <ng-container formGroupName="matchedPassword">
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="showNewPass ? 'text' : 'password'" placeholder="Enter new password" required formControlName="new"
                            autocomplete="off">
                        <mat-icon (click)="showNewPass = !showNewPass;" matSuffix>
                            {{ showNewPass ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <ng-container *ngFor="let validation of validationMessages.new">
                            <mat-error class="error-message" *ngIf="pwdForm.get('matchedPassword').get('new').hasError(validation.type) && (pwdForm.get('matchedPassword').get('new').dirty || pwdForm.get('matchedPassword').get('new').touched)">{{validation.message}}</mat-error>
                        </ng-container>
                        <mat-error *ngIf="pwdForm.get('matchedPassword').get('new').hasError('server')">
                            {{ pwdForm.get('matchedPassword').get('new').getError('server') }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Re enter Password</mat-label>
                        <input matInput [type]="showConfPass ? 'text' : 'password'" placeholder="Confirm Password" required formControlName="confirm"
                            autocomplete="off">
                        <mat-icon (click)="showConfPass = !showConfPass;" matSuffix>
                            {{ showConfPass ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngFor="let validation of validationMessages.confirm">
                    <mat-error class="error-message" *ngIf="(pwdForm.get('matchedPassword').hasError(validation.type)|| pwdForm.get('matchedPassword').hasError(validation.type)) && (pwdForm.get('matchedPassword').get('confirm').dirty || pwdForm.get('matchedPassword').get('confirm').touched)">{{validation.message}}</mat-error>
                </ng-container>
                <div fxLayout="row" fxLayoutAlign="end">
                    <a class="link" [routerLink]="['/auth/login']">Sign in</a>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content fxLayoutAlign="end" fxLayoutGap="5px">
                <button type='submit' mat-stroked-button color="accent" [disabled]='!pwdForm.valid || !this.form.dirty'>Submit</button>
                <button type='button' mat-stroked-button color="accent" (click)='resetForm()'>Clear</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>
