a.plain {
    color: inherit;
    text-decoration: none;
    width: 100%;
}
section.entities-sect {
    margin-top: 50px;
    mat-card {
        margin-bottom: 5px;
    }
}
.status-label{
    color: #c7c7c7;
    font-weight: 500;
    margin-right: 5px;
}
.status.pending{
    color: red;
}
