/* You can add global styles to this file, and also import other style files */

@import '~css-star-rating/scss/star-rating';

/** Import a theme */
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';
@import '~@ngx-share/button/styles/themes/modern/modern-dark-theme';

html {
    overflow: auto;
}
html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

html,
body * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 8px;
    /*-The Width of the total scrollbar-*/
}
::-webkit-scrollbar-thumb {
    /*-Thum means the slider-*/
    background-color: #25a8af;
    /*-Change slider color here-*/
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-track {
    /*-The background or track of slider/thumb -*/
    border-radius: 10px;
    background-color: #fff;
    /*-Change scrollbar background color here-*/
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}
.main-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 65px;
}

.main-container.light {
    background-color: #fff;
}

.max-width-740 {
    max-width: 740px;
    margin: 0 auto;
}

.max-width-1024 {
    max-width: 1024px;
    margin: 0 auto;
}

.error mat-dialog-container {
    box-shadow: inset 0px 3px 0px 0px #ff5a5a;
}

.warn mat-dialog-container {
    box-shadow: inset 0px 3px 0px 0px #f9934b;
}

.success mat-dialog-container {
    box-shadow: inset 0px 3px 0px 0px #07e40e;
}

.error mat-dialog-container,
.warn mat-dialog-container,
.success mat-dialog-container,
.auth-popup-form mat-dialog-container {
    padding: 0px 0px 12px 0px;
    overflow: hidden;
}

.error mat-dialog-container .top-action,
.warn mat-dialog-container .top-action,
.success mat-dialog-container .top-action,
.auth-popup-form mat-dialog-container .top-action {
    padding: 4px;
}
.error mat-dialog-container mat-dialog-content,
.warn mat-dialog-container mat-dialog-content,
.success mat-dialog-container mat-dialog-content,
.auth-popup-form mat-dialog-container mat-dialog-content {
    padding: 0 24px;
    margin: 0px;
}
.error mat-dialog-container mat-dialog-actions,
.warn mat-dialog-container mat-dialog-actions,
.success mat-dialog-container mat-dialog-actions,
.auth-popup-form mat-dialog-container mat-dialog-actions {
    padding: 12px;
    margin: 0px;
}

.avatar-container {
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    img {
        max-height: 100%;
        max-width: 100%
    }
}
.txt-center {
    text-align: center;
}

.hidden {
    display: none;
}

.mt-n-bm {
    margin-bottom: -1.25em;
}

// alertify overrides
.alertify-notifier .ajs-message.ajs-error {
    border: none;
    text-shadow: none;
    opacity: 1;
    border-radius: 0;
    background-color: #ea5656;
    box-shadow: 0px 1px 0px 0px #ffffff;
    text-shadow: none;
}
.alertify-notifier .ajs-message.ajs-success {
    color: #fff;
    background: rgb(35, 123, 74);
    border-radius: 0;
    border: none;
    font-size: .8rem;
    letter-spacing: 1px;
    text-shadow: none;
}
