:host {
    p {
        margin:0;
    }
}
::ng-deep {
    p {
        margin: 0;
    }
}
a {
    cursor: pointer;
    text-decoration: underline;
    &:hover {
        color: #149cf6
    }
    &.hidden {
        display: none;
    }
}
a.text {
    text-decoration: none;
    color: #000;
    word-spacing: 3px;
    line-height: 1.2rem;
    font-size: .8rem;
}
a.read-more-btn {
    font-size: .8rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #8c8c8c;
}
